* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
  --vh: 100%;
}

.main {
    position: fixed;
    display: flex;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

/* Add this overlay */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    /* pointer-events: none; */
}

.content {
    position: relative;
    z-index: 3;
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* Optional: add padding if needed */
}

.navbar {
    position: absolute;
    top: 40px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(0, 0, 0, 0.6);
    height: 40px;
    width: 65%;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 5px 10px 25px 5px rgba(255, 255, 255, 0.3);
}

.nav-bar {
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

li {
    display: inline;
    font-size: 20px;
    font-weight: 200;
}


.nav-bar .search-bar {
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    padding-left: 12px;
}

input[type="search"]:focus {
    outline: none;
}

#search {
    padding: 4px;
    text-decoration: none;
    border-radius: 25px;
    border: none;
}

span {
    margin-right: 10px;
}

.cards {
    position: relative;
    top: 120px;
    z-index: 2;
    /* height: 300px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    flex-wrap: wrap;
}

.cards img {
    margin: 10px;
    height: 75%;
    width: 95%;
    object-fit: cover;
    border-radius: 15px;
    background-position: top;
}

p {
    margin-top: 5px;
}

button {
    margin-left: 10px;
    padding: 3px;
    border: none;
    border-radius: 8px;
}

.box {
    height: 350px;
    width: 250px;
    box-shadow: 1px 10px 25px 1px rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 0.5px solid gray;
}

.cards .box:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.1);
}

li:hover {
    cursor: pointer;
}

@media(max-width:600px){
    .navbar{
        display: none;
    }
    .cards{
        position: relative;
        top: 40px;
        font-size: 5vmin;
    }
    .cards .box h2{
        white-space: nowrap;
        font-size: 1em ;
    }

}